.table_container {
    width: 100%;
    overflow-x: auto;
}

.table_header, .table_row {
    display: grid;
    grid-template-columns: .5fr 2fr .3fr 1fr .4fr; /* Second column is twice the size of the rest */
}

.table_header { 
    background-color: #ffc629;
    color: #000;
    text-align: left;
}

.table_row {
    text-align: center;
}

.table_data {
    padding: 4px;
    border: 1px solid #ccc;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    display: flex;
    align-items: center;
    justify-content: left;
}

.table_row:hover {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .table_header, .table_row {
        grid-template-columns: minmax(0, .5fr) minmax(0, 2fr) minmax(0, .3fr) minmax(0, 1fr) minmax(0, .4fr); /* Adjusted to use available space */
    }
}
