.table_container {
    width: 100%;
    overflow-x: auto;
}

.table_header, .table_row {
    display: grid;
    grid-template-columns: .5fr 2fr .3fr 1fr .4fr;
}

.table_header { 
    background-color: #ffc629;
    color: #000;
    text-align: left;
}

.table_row {
    text-align: center;
}

.table_data {
    padding: 4px;
    border: 1px solid #ccc;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    display: flex;
    align-items: center;
    justify-content: left;
}

.table_row:hover {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .table_header, .table_row {
        grid-template-columns: minmax(0, .5fr) minmax(0, 2fr) minmax(0, .3fr) minmax(0, 1fr) minmax(0, .4fr);
    }
}

.instructor_course_table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
}

.instructor_course_header th {
    background-color: #ffc629;
    color: #000;
    text-align: left;
    font-weight: bold;
    padding: 8px;
}

.instructor_course_row td {
    text-align: left;
    padding: 4px;
    border: 1px solid #ccc;
}

.instructor_course_row:hover {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .instructor_course_table {
        width: 100%;
    }
    .instructor_course_header, .instructor_course_row {
        display: block;
    }
    .instructor_course_header th, .instructor_course_row td {
        width: 100%;
        padding: 8px;
        border-bottom: none;
    }
    .instructor_course_row td {
        border-top: 1px solid #ccc;
    }
    .instructor_course_header th:last-child, .instructor_course_row td:last-child {
        border-bottom: 1px solid #ccc;
    }
}

.course_history_table {
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    text-align: left;
}

.course_history_header th {
    background-color: #ffc629;
    color: #000;
    text-align: left;
    font-weight: bold;
    padding: 8px;
}

.course_history_row td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
}

.course_history_row:hover {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .course_history_table {
        width: 100%;
    }
    .course_history_header, .course_history_row {
        display: block;
    }
    .course_history_header th, .course_history_row td {
        width: 100%;
        padding: 8px;
        border-bottom: none;
    }
    .course_history_row td {
        border-top: 1px solid #ccc;
    }
    .course_history_header th:last-child, .course_history_row td:last-child {
        border-bottom: 1px solid #ccc;
    }
}

.course_table {
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    text-align: left;
}

.course_table_header th {
    background-color: #ffc629;
    color: #000;
    text-align: left;
    font-weight: bold;
    padding: 8px;
}

.course_table_row td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
}

.course_table_row:hover {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .course_table {
        width: 100%;
    }
    .course_table_header, .course_table_row {
        display: block;
    }
    .course_table_header th, .course_table_row td {
        width: 100%;
        padding: 8px;
        border-bottom: none;
    }
    .course_table_row td {
        border-top: 1px solid #ccc;
    }
    .course_table_header th:last-child, .course_table_row td:last-child {
        border-bottom: 1px solid #ccc;
    }
}

#autocomplete_list {
    border: 1px solid #cccccc;
    border-top: none;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
}

#autocomplete_list div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

#autocomplete_list div:hover {
    background-color: #f2f2f2;
}

.side_by_side {
    position: relative;
}

.picture_button {
    margin-left: -40px;
}


